<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MRCRE4Z3FK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MRCRE4Z3FK');
</script>
    <meta charset="UTF-8">
    <title>Blogs</title>
</head>

<body>
{% extends "base.html" %}
{% block page_content %}<br><br>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="col-md-8 offset-md-2">
                <h1>My Blogs</h1>
                <hr>
                {% for post in post_list %}
                    <h2><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h2>
                    <small>
                        {{ post.created_on.date }} |
                        Categories:
                        {% for category in post.categories.all %}
                            <a href="{% url 'blog_category' category.name %}">
                                {{ category.name }}
                            </a>
                        {% endfor %}
                    </small>


                    <p>{{ post.body | slice:":400" }}...</p>
                {% endfor %}
            </div>
        </div>
    </div>
     <br><br><br><br><br><br><br>

    {#    <a href="{% url 'search_results' %}">Search Blog</a><br><br>#}
{% endblock %}
</body>
</html>