option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: personal_portfolio.wsgi:application
    NumProcesses: 3
    NumThreads: 20

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "personal_portfolio.settings"
    DJANGO_SECRET_KEY: "django-insecure-ie#35@ev2+ode9f8m(h2ooou$p^(aj*2a+m316u@1e*p1f_lab"