option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: personal_portfolio.wsgi:application
    NumProcesses: 3
    NumThreads: 20

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "personal_portfolio.settings"

#  aws:elasticbeanstalk:container:python:staticfiles:
#    "/static/": "www/static/"
