<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MRCRE4Z3FK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MRCRE4Z3FK');
</script>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
{% extends "base.html" %}
{% load static %}
<body>
{% block page_content %}
    <!-- Sidebar with image -->
    <br>
    <div class="container">
        <div class="d-flex p-2 bd-highlight">
            <div class="d-flex flex-xxl-row bd-highlight mb-3 justify-content-start ">
                <div class="card-img-top">
                    <div class="p-2 bd-highlight">

                        {% for picture in abouts %}
                            <img src="{% static picture.profile_pic %}" alt="" width="100%">
                        {% endfor %}
                        <div class="card-body">
                            <h1 class="w3-jumbo"><b>Carla Aluvai</b></h1>
                            <p>Data Analyst & Software Developer.</p>
                            <a href="https://www.linkedin.com/in/carla-aluvai/" class="link-dark">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="https://github.com/carluvy" class="link-dark">
                                <i class="fa fa-github w3-hover-opacity"></i>
                            </a>
                            <a href="https://web.facebook.com/AluvaiCarla/" class="link-dark">
                                <i class="fa fa-facebook-official table-hover"></i>
                            </a>


                        </div>
                    <br>
                        <div>
                            <a href="{% url 'index' %}" style=" text-decoration:none"
                                class="btn btn-info btn-rounded">My Portfolio

                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="w3-opacity">
            <br>
            <div class="d-flex flex-xxl-row bd-highlight mb-3 justify-content-end" style="margin-left:10%">
                <div class="card-body">
                    <div class="p-2 bd-highlight">

                        <h2 id="aboutme">About</h2>
                        <hr class="w3-opacity">
                        <p>My name is Carla Aluvai. I am a Kenyan currently residing in Kenya.</p>
                        <p>I am enthusiastic about all things tech. I am a Data Analyst and a software developer. I work
                            with
                            Python and Kotlin programming languages. </p>
                        <p>I strongly believe that given access to the right resources, we Africans are able to
                            come up with strategies to fight our economic issues. There's a saying in my culture that
                            goes,
                            "The one wearing the shoe is the one who knows how it hurts if it's a small size".</p>
                        <p>When I am not working on a project, I love binge-watching shows, swimming at the beach or
                            pool,
                            or
                            learning
                            Spanish on Duolingo!
                            Usted quiere una amiga de estudio?
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        {#    <div class="d-flex flex-xxl-column bd-highlight mb-3 justify-content-lg-evenly">#}
        <div class="w3-padding-32 w3-content w3-text-grey" id="contact" style="margin-bottom:64px">

            <br><br><br><br>

            <h2>Contact Me</h2>
            <hr class="w3-opacity">


            <div class="w3-section">
                <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Malindi, Kenya</p>
                <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +254725924</p>
                <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: carngie@gmail.com</p>
            </div>


        </div>
        <hr class="w3-opacity">
    </div><br><br>


{% endblock %}
</body>
</html>