<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MRCRE4Z3FK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MRCRE4Z3FK');
</script>
    <meta charset="UTF-8">
    <title>Project Details</title>
</head>

<body>
{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <br>
    <h1>{{ project.title }}</h1><br>

    <div class="w3-padding-32 w3-content w3-text-grey" style="margin-bottom:64px">
        <div class="row">
            <div class="col-md-8">
                <img src="{% static project.image %}" alt="" width="100%">
            </div>
            <div class="col-md-4">
                <h5>About the project:</h5>
                <div class="card-body">
                    <p>{{ project.description }}</p>
                    <br>
                    <hr class="w3-opacity">
                    <h5>Technology used:</h5>
                    <p>{{ project.technology }}</p>
                    <hr class="w3-opacity">
                    <br>
                    {#                </div>#}

                    <div class="card-link">
                        <a href="{{ project.github_url }}" target="_blank" class="link-dark"
                           style=" text-decoration:none">
                            View the code on Github:
                            <i class="fa fa-github w3-hover-opacity"></i>
                        </a>
                    </div>
                    <div class="card-link">
                        <a href="{{ project.medium_url }} " target="_blank" class="link-dark"
                           style=" text-decoration:none">
                            Continue reading this article on Medium:
                            <i class="fa fa-medium w3-hover-opacity"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#     <br><br><br><br><br><br><br> <br><br><br>#}


{% endblock %}
</body>
</html>