
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>

{% extends 'base-registration.html' %}

{% block content %}

{% load crispy_forms_filters %}

<!-- Register -->

    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header justify-content-center">
                            <div id="error_div"></div>
                          <h3 class="font-weight-light my-4 text-center">Create An Account</h3>
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"></span>
                                </button>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="form-row">
                                  <div class="col-md-10 offset-md-1">
                                    <div class="form-group mt-0 mb-1">

                                        <button type="submit" class="col-md-12 btn btn-dark">Register
                                        </button>
                                    </div>
                                 </div>
                               </div>
                            </form>

                        </div>

                        <div class="card-footer text-center">
                            <div class="small">
                                <p class="text-center">If you already have an account, <a href="{% url 'login' %}">Log In</a> instead.</p><br><br>
{#                                <a href="{% url 'login' %}">Back To Login</a><br>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

  </div>
{#<div class="container py-5">#}
{#    <h2>Register</h2>#}
{#    <form method="POST">#}
{#        {% csrf_token %}#}
{#        <div class="row">#}
{#               {{ form.username|as_crispy_field }}#}
{##}
{##}
{#        </div>#}
{#        <div class="row">#}
{##}
{#            {{ form.email|as_crispy_field }}#}
{##}
{#        </div>#}
{#         <div class="row">#}
{#            {{ form.password1|as_crispy_field }}#}
{#        </div>#}
{#        <div class="row">#}
{##}
{#            {{ form.password2|as_crispy_field }}#}
{##}
{#        </div>#}
{#        {{form|crispy}}#}
{#        <input type="submit" value="Register">#}
{#    </form>#}
{#     <p class="text-center">If you already have an account, <a href="{% url 'login' %}">Log In</a> instead.</p>#}
{##}
{#</div>#}


{#    <a href="{% url 'dashboard' %}">Back to login</a>#}
{#    <a href="{% provider_login_url 'google' %}?next=/">Login with Google</a>#}
{% endblock %}
